<h1>Grammar Quiz 600</h1>

<h2 style="background-color: green">Her mistakes _______</h2>

<div>
  <table style="background-color: yellowgreen">
    <tr>
      <td><input type="checkbox" /></td>
      <td><p>has been spotted</p></td>
    </tr>
  </table>
</div>
<br />

<div>
  <table style="background-color: yellowgreen">
    <tr>
      <td><input type="checkbox" /></td>
      <td><p>have been spotted</p></td>
    </tr>
  </table>
</div>
<br />

<div>
  <table style="background-color: yellowgreen">
    <tr>
      <td><input type="checkbox" /></td>
      <td><p>had been spotted</p></td>
    </tr>
  </table>
</div>
<br />

<div>
  <table style="background-color: yellowgreen">
    <tr>
      <td><input type="checkbox" /></td>
      <td><p>none</p></td>
    </tr>
  </table>
</div>
<br />
